.hero {
  position: relative;
  width: 100vw;                         
  margin-left: calc(50% - 50vw);      
  height: 100vh;                       
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../../assets/hero-image.jpg");
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  z-index: 0;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #000;
  width: 100%;
  top: -180px;
}

.hero-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;                    
}

.hero-content h1 {
  font-size: 48px;
  color: #1e90ff;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 32px;
}

