.cleaning-wrapper {
  width: 100%;
  margin-top: 80px; 
}

.cleaning-title-section {
  width: 100%;
  padding: 15px 0;       
  text-align: center;
}

.cleaning-title-section h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2px;
  color: black;
}

.cleaning-hero {
  width: 100%;
  height: 90vh;
  background-image: url("../../../assets/cleaning.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
