.signup-pages {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom right, #d7e8ff, #ffffff);
  justify-content: flex-start;
  align-items: center;
  padding: 0 60px;
  overflow: hidden;
}

.left-sections {
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  box-shadow: none;
  z-index: 10;
}

.logo-wrappers {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.logo-imgs {
  width: 180px;
  height: auto;
}

.brands {
  font-size: 56px;
  font-weight: 700;
  color: #1e88e5;
}

.right-sections {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
  width: 100%;
}

.signup-boxs {
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-height: 85vh;
  overflow-y: auto;
}

.signup-boxs h2 {
  text-align: center;
  margin-bottom: 10px;
  grid-column: span 2;
}

.input-groups {
  margin-bottom: 8px;
}

.input-groups label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}

.input-groups input {
  width: 100%;
  padding: 12px;
  border: 1px solid #bfbfbf;
  border-radius: 6px;
}

.remember-rows {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
  justify-content: flex-start;
  width: 100%;
  grid-column: span 2;
}

.signup-btns {
  width: 100%;
  padding: 12px;
  border: none;
  background: #1e88e5;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  grid-column: span 2;
}

.signup-btns:hover {
  background: #166fcc;
}

.link,
.back-home {
  color: #1e88e5;
  font-size: 14px;
  text-decoration: none;
}

.login-text {
  text-align: center; 
  margin-top: 8px;
  width: 100%;
  display: block; 
  margin-bottom: 15px; 
  font-size: 16px;
  grid-column: span 2;
}

.back-home {
  grid-column: span 2;
  text-align: left;
  text-decoration: underline;
  display: block;
}

.signup-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.back-home:hover {
  text-decoration: none;
  color: #166fcc; 
}
.signup-message {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: green; 
}
.signup-error {
  color: red;
}