.admin-page {
  height: 100vh;
  width: 100%;
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-box {
  padding: 40px 60px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.admin-box h1 {
  font-size: 36px;
  font-weight: 700;
  color: #007bff;
  margin: 0;
}
