.about-section {
  background-color: #f9fcff;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  max-width: 1200px;
  width: 90%;
  gap: 60px;
  align-items: center;
}

.about-left {
  position: relative;
  flex: 1;
}

.about-img {
  width: 100%;
  border-radius: 10px;
}

.about-badge {
  position: absolute;
  top: -30px;
  left: -30px;
  background: #007bff;
  color: white;
  font-weight: 700;
  font-size: 25px;
  padding: 20px 25px;
  border-radius: 50%;
  text-align: center;
}

.about-years {
  position: absolute;
  bottom: -30px;
  right: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 18px 30px;
  text-align: center;
}

.years-number {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #007bff;
}
.years-text {
  font-size: 16px;
  font-weight: 600;     
  color: #333;
}

.about-right {
  flex: 1;
}

.about-right h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-right p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-right ul {
  list-style: none;
  padding: 0;
}

.about-right li {
  margin-bottom: 8px;
  font-weight: 500;
  color: #007bff;
}
