.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background: linear-gradient(180deg, #dceeff 0%, #ffffff 100%);
  padding-top: 120px;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/hero-image.jpg");
  background-size: cover;             
  background-position: center 10%;    
  background-repeat: no-repeat;
  z-index: 0;
}


.hero-overlay {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: black;
  margin-bottom: 500px;

}

.hero-content h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 1.4;
}

.quote-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quote-btn:hover {
  background-color: #005ecb;
}
