.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;         
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  z-index: 9999;
  display: flex;        
  align-items: center;  
  justify-content: space-between;
  padding: 0 40px;
}


.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 60px;
}

.brand-name {
  font-size: 22px;
  font-weight: 600;
  color: #007bff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #007bff;
}

.book-btn {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
  margin-right: 50px;
}

.book-btn:hover {
  background: #005ecb;
}
