.bookclean-cta {
  max-width: 1100px;
  margin: 60px auto;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.bookclean-left h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 22px;
  color: #000;
}

.bookclean-btn {
  background: #007bff;
  border: none;
  color: white;

  padding: 14px 32px;
  border-radius: 6px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition: background 0.25s ease;
}

.bookclean-btn:hover {
  background: #005ecb;
}

.bookclean-right img {
  width: 420px;
  height: 300px;        
  border-radius: 10px;
  object-fit: cover; 
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

/* Trong file css của bạn */
.html-content ul {
  list-style-type: disc; /* Hiện dấu chấm tròn */
  padding-left: 20px;    /* Thụt đầu dòng */
  margin-top: 10px;
}

.html-content li {
  margin-bottom: 5px;
}