.defc-section {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 40px 20px;
}

.defc-title {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
  color: #000;
}

.defc-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 0; 
  white-space: pre-line; 
  text-align: left;
}

/* Trong file css của bạn */
.html-content ul {
  list-style-type: disc; /* Hiện dấu chấm tròn */
  padding-left: 20px;    /* Thụt đầu dòng */
  margin-top: 10px;
}

.html-content li {
  margin-bottom: 5px;
}