.cleaning-wrapper {
  width: 100%;
  margin-top: 80px;
}

.cleaning-title-section {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.cleaning-title-section h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #000;
}

.cleaning-hero {
  width: 100%;
  height: 90vh;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  transition: background-image 0.3s ease-in-out;
}

/* Trong file css của bạn */
.html-content ul {
  list-style-type: disc; /* Hiện dấu chấm tròn */
  padding-left: 20px;    /* Thụt đầu dòng */
  margin-top: 10px;
}

.html-content li {
  margin-bottom: 5px;
}