.pricing-wrapper {
  background: #f3f3f3;
  padding: 50px 20px;
}

.pricing-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.pricing-cards {
  display: flex;
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto 40px auto;
  flex-wrap: wrap;
}

.pricing-card {
  background: #fff;
  flex: 1;
  min-width: 280px;
  padding: 30px 25px;
  border-radius: 6px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.25s ease;
}

.pricing-card:hover {
  transform: translateY(-5px);
}

.pricing-card h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #000;
}

.divider {
  height: 1px;
  background: #ddd;
  margin: 15px 0 20px 0;
}

.price {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.pricing-notes {
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px 0 30px 0;
}

.note-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.pricing-notes ul {
  line-height: 1.7;
  font-size: 16px;
  color: #444;
  padding-left: 20px;
}

.pricing-notes ul li {
  margin-bottom: 10px;
}

/* Trong file css của bạn */
.html-content ul {
  list-style-type: disc; /* Hiện dấu chấm tròn */
  padding-left: 20px;    /* Thụt đầu dòng */
  margin-top: 10px;
}

.html-content li {
  margin-bottom: 5px;
}